<th:block th:fragment="inside-head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Library Manager</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" th:href="@{/public/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" th:href="@{/public/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
    <link rel="stylesheet" th:href="@{/public/assets/css/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/public/assets/css/custom/custom.css}">
</th:block>